/****************
 * Applications *
 ****************/
@define-color theme_path_bg_color #aaaaaa;

ApDocView, /* Abiword */
EogScrollView, /* Eog */
CheeseThumbView /* Cheese */
{
    background-color: @chrome_bg_color;
    -EogScrollView-shadow-type: none;
}

/* nautilus */
.nemo-canvas-item, 
.nautilus-canvas-item {
    border-radius: 0px;
}

/* desktop mode */
.nautilus-desktop.nautilus-canvas-item {
    color: @theme_bg_color;
    text-shadow: 1 1 black;
}

.nautilus-desktop.nautilus-canvas-item:active {
    background-image: none;
    color: @theme_text_color;
}

.nautilus-desktop.nautilus-canvas-item:selected {
    color: @theme_selected_fg_color;
}

.nautilus-desktop.nautilus-canvas-item:active,
.nautilus-desktop.nautilus-canvas-item:prelight,
.nautilus-desktop.nautilus-canvas-item:selected {
    text-shadow: none;
}


NautilusWindow .primary-toolbar.toolbar {
    background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (shade(@theme_bg_color, 1.04)),
                                     to   (shade(@theme_bg_color, 1.04)));

    border-width: 0px 0px 1px 0px;
    border-radius: 0px;
    border-style: solid;
	-unico-border-gradient: none;
    border-color: @transparent @transparent shade(@theme_base_color, 1.00) @transparent;

    padding: 1px 3px 2px;
    -GtkWidget-window-dragging: true;
    -GtkToolbar-button-relief: normal;    
}

#nautilus-search-button * {
    padding: 0px 4px;
}

NautilusWindow .primary-toolbar .toolbar .button,
NautilusWindow .primary-toolbar.toolbar .button {
	padding: 0px 2px;
}

#nautilus-search-button *,
NautilusWindow .primary-toolbar .toolbar .button,
NautilusWindow .primary-toolbar.toolbar .button {

    background-image: none;

	-unico-border-gradient: none;    
    border-image: none;
    border-style: solid;
	border-width: 1px;
    border-radius: 0px;
	border-color: @transparent;

    box-shadow: none;

	-unico-inner-stroke-gradient: none;
    -unico-inner-stroke-width: 0px;
	-unico-inner-stroke-color: @transparent;

	-unico-outer-stroke-gradient: none;
	-unico-outer-stroke-width: 6px 0px 5px 0px;	
	-unico-outer-stroke-color: @transparent;
}

#nautilus-search-button *,
NautilusWindow .primary-toolbar .toolbar .button GtkLabel,
NautilusWindow .primary-toolbar.toolbar .button GtkLabel {
	color: shade(@theme_fg_color, 1.00);
    text-shadow: 1 1 alpha(#fff, 0.12);
}

#nautilus-search-button *:prelight
NautilusWindow .primary-toolbar .toolbar .button *:hover,
NautilusWindow .primary-toolbar.toolbar .button *:hover {
	color: shade(@theme_text_color, 1.00);
    text-shadow: 0 1 alpha(#fff, 0.12);
}

#nautilus-search-button *:active,
#nautilus-search-button *:active:prelight, 
NautilusWindow .primary-toolbar .toolbar .button *:active,
NautilusWindow .primary-toolbar.toolbar .button *:active,
NautilusWindow .primary-toolbar .toolbar .button *:active:hover,
NautilusWindow .primary-toolbar.toolbar .button *:active:hover {
	color: shade(@theme_fg_color, 1.25);
    text-shadow: 0 1 alpha(#fff, 0.12);
}

#nautilus-search-button .button:active,
#nautilus-search-button .button:active:prelight,
NautilusWindow .primary-toolbar .toolbar .button:active,
NautilusWindow .primary-toolbar.toolbar .button:active,
NautilusWindow .primary-toolbar .toolbar .button:active:hover,
NautilusWindow .primary-toolbar.toolbar .button:active:hover {

	border-radius: 0px;

	-unico-outer-stroke-gradient: none;
	-unico-outer-stroke-width: 6px 0px 5px 0px;	
	-unico-outer-stroke-color: @transparent;
	-unico-inner-stroke-width: 0px;
	-unico-inner-stroke-gradient: none;

    background-image: none;
    -unico-border-gradient: none;
	border-color: shade (@theme_bg_color, 0.85);
	background-color: shade (@theme_bg_color, 0.85);
}

#nautilus-search-button .button:prelight,
NautilusWindow .primary-toolbar .toolbar .button:hover,
NautilusWindow .primary-toolbar.toolbar .button:hover {

	-unico-inner-stroke-width: 0px;
    -unico-inner-stroke-gradient: none;

    background-image: none;
    -unico-border-gradient: none;
	border-color: shade (@theme_bg_color, 0.93);
	background-color: shade (@theme_bg_color, 0.93);

}

NautilusFloatingBar {
    background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (shade (@notebook_tab_gradient_a, 0.97)),
                                     to (shade (@notebook_tab_gradient_b, 0.90)));

    border-color: shade (@notebook_tab_gradient_b, 0.80);

    border-radius: 0px;
    border-width: 1px;
    border-style: solid;
}

NautilusFloatingBar .button {
    background-color: alpha (@theme_base_color, 0.0);
    background-image: none;

    border-style: none;
    border-image: none;

    -GtkButton-image-spacing: 0;
    -GtkButton-inner-border: 0;
}

NautilusWindow .sidebar .scrollbar {
	-GtkRange-trough-border: 	1;
    -GtkRange-slider-width:     6;
}

NautilusWindow .sidebar .scrollbar.trough,
NautilusWindow .sidebar .scrollbar.trough.vertical {
    background-image: none;
    background-color: @sidebar_background;
	-unico-inner-stroke-width:        0px;
}

NautilusWindow .sidebar .frame {
    border-width: 0px;
    border-style: none;
	
}

NautilusWindow > GtkTable > .pane-separator,
NautilusWindow .pane-separator {
	/* ubuntu-12 */
    background-color: @sidebar_background;
    border-color: @sidebar_background;
    border-style: solid;
    border-width: 0px;
    background-image: -gtk-gradient(linear,
                                    left top, right top,
                                    from(@sidebar_background),
                                    color-stop(0.50, @sidebar_background),
                                    to(shade(@theme_base_color, 1.00)));

    -unico-border-gradient: none;
    -unico-inner-stroke-width: 0px;
}

