/* Default color scheme */
@define-color bg_color #dfd6cd; /*Possibly slightly grayer?*/
@define-color fg_color #283347;
@define-color base_color #dfd6cd; /*Same as bg color for consistency in asthetics*/
@define-color text_color #283347;
@define-color selected_bg_color #E46A58;
@define-color selected_fg_color #dfd6cd;
@define-color tooltip_bg_color #dfd6cd;
@define-color tooltip_fg_color #283347;

/* colormap actually used by the theme, to be overridden in other css files */
@define-color theme_bg_color @bg_color;
@define-color theme_fg_color @fg_color;
@define-color theme_base_color @base_color;
@define-color theme_text_color @text_color;
@define-color theme_selected_bg_color @selected_bg_color;
@define-color theme_selected_fg_color @selected_fg_color;
@define-color theme_tooltip_bg_color @tooltip_bg_color;
@define-color theme_tooltip_fg_color @tooltip_fg_color;

/* shadow effects */
@define-color light_shadow #dfd6cd;
@define-color dark_shadow #000000;

/* misc colors used by gtk+ */
@define-color info_fg_color rgb (152, 152, 89);
@define-color info_bg_color rgb (252, 252, 189);
@define-color warning_fg_color rgb (0, 0, 0);
@define-color warning_bg_color rgb (250, 173, 61);
@define-color question_fg_color rgb (255, 255, 255);
@define-color question_bg_color rgb (214, 73, 55);
@define-color error_fg_color rgb (255, 255, 255);
@define-color error_bg_color rgb (237, 54, 54);
@define-color link_color #7A7768;
@define-color success_color #4e9a06;
@define-color error_color #cc0000;

/* widget colors */
@define-color menubar_bg_color @theme_bg_color;
@define-color menubar_fg_color #283347;
@define-color toolbar_bg_color @theme_bg_color;
@define-color toolbar_fg_color #283347;
@define-color menu_bg_color @theme_bg_color;
@define-color menu_fg_color #283347;
@define-color panel_bg_color @theme_bg_color;
@define-color panel_fg_color #283347;

/* osd */
@define-color osd_base #dfd6cd;
@define-color osd_fg #283347;
@define-color osd_bg alpha(@osd_base, 0.8);

/* window manager colors */
@define-color wm_bg #dfd6cd;
@define-color wm_title_focused #283347;
@define-color wm_title_unfocused #888888;
@define-color wm_border_focused #484848;
@define-color wm_border_unfocused #393939;

@import url("gtk-widgets.css");
@import url("gtk-widgets-assets.css");
/*@import url("apps/gnome-applications.css");*/
@import url("apps/granite-widgets.css");
@import url("apps/unity.css");
